<h1>Lista de Cores</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Código Hexadecimal</th>
            <th>Visualização</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% cores.forEach(cor => { %>
            <tr>
                <td><%= cor.id %></td>
                <td><%= cor.nome %></td>
                <td><%= cor.codigo %></td>
                <td>
                    <div style="width: 30px; height: 30px; background-color: <%= cor.codigo %>; border: 1px solid #000;"></div>
                </td>
                <td>
                    <a href="/cores/<%= cor.id %>" class="btn btn-primary">View</a>
                    <a href="/cores/<%= cor.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/cores/<%= cor.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
